*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.mp4

*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
*.mdf
*.ldf
*.sdf
Migrations/

appsettings.json
appsettings.*.json
secrets.json
*.config
connectionstrings.*.json


**/bin/
**/obj/
**/.vs/
bin/
obj/
.vs/
*.vsidx
*.user
*.suo
*.cache
*.vspscc
*.vssscc

*.log
*.tmp
*.temp

.idea/
.vscode/
launchSettings.json

packages/
.nuget/
NuGet.exe
*.nupkg
project.lock.json